[Desktop Entry]
Type=Application
Name=Musicpod
Comment=Music, podcast and internet radio player
Keywords=Music;Podcast;Radio;
Exec=musicpod %U
Icon=${SNAP}/meta/gui/musicpod.png
Terminal=false
Categories=AudioVideo;Audio;
StartupWMClass=musicpod
