[Desktop Entry]
Type=Application
Name=Musicpod
Comment=Music, podcast and internet radio player
Keywords=Music;Podcast;Radio;
Exec=musicpod %U
Icon=music-app
Terminal=false
Categories=Music and Audio; 